<a href="https://colab.research.google.com/github/mrivaldi/mrivaldi/blob/main/Salinan_dari_2_input_dan_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MATERI 2**

---

# **INPUT DAN OUTPUT**
Sebuah Program terdiri dari Input, Proses dan Output

**1. Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**2. Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [2]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : Muhmmad Rivaldi
Umur : 20
Alamat : Yogyakarta

In [3]:
# Membuat input bertipe data integer (int)
angka = int(input())

3

In [4]:
# Membuat input beripe data float
angka = float(input())

3.4

**2.1 Menampilkan Output cara pertama**

In [5]:
print("Nama saya"+ " " + nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya Muhmmad Rivaldi yang berumur 20 dan bertempat tinggal di Yogyakarta

**2.2 Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [6]:
print("Nama saya {} yang berumur {} dan bertempat tinggal di {}".format(nama,umur,alamat))

Nama saya Muhmmad Rivaldi yang berumur 20 dan bertempat tinggal di Yogyakarta

**2.3 Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [7]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya Muhmmad Rivaldi yang berumur 20 dan bertempat tinggal di Yogyakarta