<a href="https://colab.research.google.com/github/mrivaldi/mrivaldi/blob/main/variabel%2C_tipe_data_dan_konversi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
#membuat variabel
var1="siapa"  #sring(str)
var2=34       #integer(int)
var3=33.67    #float(float)
var4=False    #boolean(bool)
var5=1j + 1   #complex(complex)

In [90]:
#menampilkan variabel
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

siapa
34
33.67
False
(1+1j)

In [91]:
#menampilkan tipe data tanpa fungsi print
type(var1)
type(var2)
type(var3)
type(var4)
type(var5)          #hanya ditampilkan dibarisan terakhir

complex

In [92]:
#menampilkan tipe data menggunakan fungsi print
print(var1, "bertipe data:", type(var1))
print(var2, type(var2))
print("{} bertipe data: {}".format(var3, type(var3)))
print("%s bertipe data: %s"%(var4, type(var4)))
print(type(var5))

siapa bertipe data: <class 'str'>
34 <class 'int'>
33.67 bertipe data: <class 'float'>
False bertipe data: <class 'bool'>
<class 'complex'>

In [93]:
#konversi tipe data
print(int(var3))      #var3 ke int
print(float(var2))    #var2 ke float
print(bool(var2))     #var2 ke bool
print(int(var4))      #var4 ke int
print(float(var4))    #var4 ke float
print(complex(var2))  #var2 ke complex
print(complex(var3))  #var3 ke complex
print(bool(var5))     #var5 ke bool

33
34.0
True
0
0.0
(34+0j)
(33.67+0j)
True

In [94]:
print(var5, "bertipe data complex?", isinstance(var5, int))   #isinstance untuk memastikan tipe data

(1+1j) bertipe data complex? False